/*==============================
=            Colors            =
==============================*/

$themeColors: (
  'red': #fa3838,
  'gray': #959595,
  'medium-gray': #414141,
  'dark-gray': #363636,
  'light-gray': #959595,
  'white': #fff
);

/*=====  End of Colors  ======*/

/*================================
=            Defaults            =
================================*/

$rounded: 5px;

/*=====  End of Defaults  ======*/

/*==============================
=            Layout            =
==============================*/

$column-gutter: 25px;

/*=====  End of Layout  ======*/