<div class="reservation-box theme-color-white">
  <div class="car"></div>
  <ul class="benefits">
    <li class="item">
      <i class="icon">
        <div class="icon-percent-mini"></div>
      </i>
      <div class="info">
        Pague online com
        <strong>20% de desconto</strong>
      </div>
    </li>
    <li class="item">
      <i class="icon">
        <div class="icon-24-mini"></div>
      </i>
      <div class="info">
        Serviço 24h
      </div>
    </li>
    <li class="item">
      <i class="icon">
        <div class="icon-valet-mini"></div>
      </i>
      <div class="info">
        Serviços de Vallet
      </div>
    </li>
  </ul>
  <!-- end of ul.benefits -->
  <div class="reservation">
    <div class="form layout-group -vertical-centered">
      <div class="division -narrow">
        <h2 class="title title-2">Faça sua
        reserva
        online</h2>
      </div>
      <div class="division">
        <!-- form -->
        <form action="" class="form">
          <div class="layout-group -small -mobile -vertical-centered">
            <div class="division -4">
              <span class="title-4">Entrada</span>
            </div>
            <!-- end of .division -->
            <div class="division -4">
              <input type="text" class="field" placeholder="Data">
            </div>
            <!-- end of .division -->
            <div class="division -4">
              <input type="text" class="field" placeholder="Horário">
            </div>
            <!-- end of .division -->
          </div>
          <!-- end of .layout-group -->
          <div class="layout-group -small -mobile -vertical-centered">
            <div class="division -4">
              <span class="title-4">Saída</span>
            </div>
            <!-- end of .division -->
            <div class="division -4">
              <input type="text" class="field" placeholder="Data">
            </div>
            <!-- end of .division -->
            <div class="division -4">
              <input type="text" class="field" placeholder="Horário">
            </div>
            <!-- end of .division -->
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of .reservation -->
  <div class="call-to-action">
    <div class="layout-group -small -vertical-centered -horizontal-justified">
      <div class="division -narrow">
        <a href="#">Alterar/Cancelar</a> | <a href="#">Como chegar?</a> | <a href="#">Empresas Conveniadas</a>
      </div>
      <div class="division -narrow">
        <a href="#" class="btn-gray">Fazer Reserva</a>
      </div>
    </div>
  </div>
  <!-- end of .call-to-action -->
</div>
<!-- end of .reservation-box -->