<div class="units">
  <h3 class="title-6">Estacionamentos</h3>
  <ul class="m-top-2">
    <li class="card-outline">
      <div class="cover"></div>
      <div class="infos">
        <span class="title">
          LOREM IPSUM DOLOR
        </span>
        <a href="#" class="link btn">Saiba +</a>
      </div>
    </li>
  </ul>
</div>