.float-label {

  &-container {
    position: relative;

    &.-active {

      .float-label-text {
        @include rem(margin-top, -23px);
        opacity: 1;
      }

    }

  }

  &-text {
    @include align('vertical');
    @include rem(left, 11px);
    color: color('red');
    background-color: white;
    @include rem(padding, 3px 8px);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    // @include rem(font-size, 11px);
    font-size: 11px;
    opacity: 0;
    margin-top: 0;
    letter-spacing: 0.5px;
    @include transition(opacity, margin);
    pointer-events: none;
  }

}