.form-styled {

  .wpcf7-not-valid-tip {
    font-size: 14px;
    @include rem(margin-top, 10px);
    @include rem(margin-bottom, 10px);
    @include rem(margin-left, 5px);
    // text-align: right;
    // display: block;
  }

  .wpcf7-not-valid {
    border: 1px solid color('red')!important;
  }

  .wpcf7-response-output {
    margin: 0;
    @include rem(padding, 15px);
    @include rem(margin-top, 30px);
    @include rem(font-size, 16px);
  }

  label {
    display: inline-block;
    vertical-align: middle;
  }

  .field {
    @include rem(padding, 13px 20px);
    border: 1px solid darken(white, 7%);
    display: block;
    width: 100%;
    @include rem(font-size, 16px);
    font-family: inherit;
    background-color: #fff;
    appearance: none;
    border-radius: 0;
    color: black;
    @include transition(background, color);
    display: inline-block;
    vertical-align: middle;

    &:active, &:focus {
      background-color: darken(white, 2%);
      border: 1px solid darken(white, 14%);
    }

    option[value=""] {
      color: black;
    }

    @include input-placeholder {
      @include rem(font-size, 16px);
      font-family: inherit;
      color: black;
    }

  }

}